.Calculator {
    width: 200px;
    height: 155px;
    margin: 30px;
}
.screen {
    border: 1px solid #000;
    height: 65px;
    width: 196px;
}
button {
    width: 33%;
}

h1 {
    font-size: 24px;
    height: 65px;
    margin: 0;
    padding-top: 19px;
}

.green {
    background: green
}
.white {
    background: white
}